/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


/* Fix */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General rules and vars */
:root {
    --main-background-color: hsl(233, 47%, 7%);
    --card-background-color: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-color: hsl(0, 0%, 100%);
    --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
}


/* Typography */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.card-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-heading-color);
}

.card-text p {
    line-height: 1.5rem;
    color: var(--main-paragraph-color);
}

.card-text-stats-group h2 {
    color: var(--main-heading-color);
}

.card-text-stats-group p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--main-paragraph-color);
    text-transform: uppercase;
}

.accent {
    color: var(--accent);
}


/* Layout */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
}

.card {
    display: flex;
    flex-direction: column-reverse;
    width: 335px;
    border-radius: 15px;
    margin: 5em 0;
    overflow: hidden;
    background-color: var(--card-background-color);
}

.card-text {
    margin: 2em 1.4em;
}

.card-text p {
    margin: 2em 0;
}

.card-image {
    background: hsla(277, 64%, 61%, 0.6) url("images/image-header-mobile.jpg") no-repeat;
    width: 100%;
    height: 0;
    padding-top: 73%;
    background-size: 100% auto;
    background-blend-mode: multiply;
}

.card-text-stats-group p {
    margin: 0;
}

.card-text-stats-group {
    margin: 1em 0;
}

/* Contribution */
.attribution {
    font-size: 11px;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--main-paragraph-color);
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 800px) {

    body {
        min-width: 1000px;
    }

    section {
        justify-content: center;
        height: 97vh;
        min-height: 600px;
    }

    .attribution {
        height: 3vh;
        min-height: 10px;
    }

    .card {
        flex-direction: row;
        min-height: 446px;
        width: 80%;
        min-width: 900px;
    }

    .card-text h1{
        max-width: 400px;
    }

    .card-text p {
        max-width: 400px;
    }

    .card-text {
        flex-shrink: 2;
        width: 50%;
        text-align: start;
        margin: 5em;
    }

    .card-image {
        width: 50%;
        flex-shrink: 2;
        height: auto;
        padding-top: 0;
        background-size: cover;
        background: hsla(277, 64%, 61%, 0.6) url("images/image-header-desktop.jpg") center;
        background-blend-mode: multiply;
    }

    .card-text-stats {
        margin-right: 0;
    }

    .card-text-stats-group {
        margin-right: 3.5em;
    }

    .card-text-stats {
        display: flex;
    }

}
